.blog {
  text-align: left;
  margin: 1rem 0 0 3rem;
  width: 800px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  overflow-x: hidden;
  word-break: break-all;
}
.blogOption {
  margin:1rem 0 0 ;
  padding: 0.25rem 0;
  border-top:1px solid black;
  display: flex;
}

.pointerCursor{
  :hover{
    cursor: pointer;
  }

}